@charset "UTF-8";

body {
    background-color: rgb(198, 173, 230);
}

h1 {
font-family: Arial, Helvetica, sans-serif;
color: darkblue;
background-color:rgb(191, 154, 221);
text-align: center;


}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgreen;

}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkviolet;
    text-align: justify;
}
.paginas {
    text-align: center;
}